#mainTable{
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

#mainTable th, #mainTable td{
    border-style: solid;
    width:auto;
    height:auto;
    padding: 1px;
    margin: 10px;
}

#pagination {
    padding-left:0px;
    height: auto;
    margin:auto;
    width: auto;
    background-color:blue;
    text-align:center;
}
#pagination li{
    margin: 0;
    padding: 10px 10px;
    display: inline-block;
    transition: 100ms;
}
#pagination li:hover {
    cursor:pointer;
    background-color: #dbedf5;
    transition: 100ms;
}
img:hover{
    cursor:pointer;
}